.header{
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 231, 235);
}
.header-section1{
    flex: 7;
    display: flex;
    align-items: center;
}

.header-section1 img{
    width: 66px;
    margin-left: 25px;
    margin-right: 15px;
}
.quotes{
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
.header-section2{
    flex: 7;
    display: flex;
    align-items: center;
    color:#494949;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-right: 30px;
}
.member button {
    background-color: rgb(217, 30, 24);
    color: white;
    padding:11px 15px ;
    border: 0;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

