.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom-style: solid;
    border-bottom-color: rgb(177, 177, 179);
    padding-bottom: 40px;
    border-bottom-width: 1px;

}
.sec1-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec1-text1{
font-family: "Inter", sans-serif;
font-weight:bold;  
font-size: 12px;
text-transform: uppercase;
color:  rgb(235, 0, 40);
margin-top: 12px;
margin-bottom: 8px;
}
.sec1-text2{
font-family: "Inter", sans-serif;
font-weight:600;  
font-size: 28px;
margin-top: 8px;
margin-bottom: 8px;
}
.sec1-text3{
margin-bottom: 8px;
}
.sec1-text4,.sec1-text5{
    font-size: 12px;
    color: rgb(118, 118, 118);
}
.sec1-img{
display: flex;
justify-content: right;
}
.sec1-img img{
width: 580px;
height: 327px;
}
