.section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 231, 235);
    border-right-width: 1px;
    padding-bottom: 40px; 
    padding-top: 20px;
    column-gap: 15px;
}
.section2 div{
    padding-right: 10px;
}
.sec2_grid1,.sec2_grid2,.sec2_grid3{
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(177, 177, 179);

}
.section2 img{
    width: 270px;
    height: 151px;
}
.sec2_title{
    font-family: "Inter", sans-serif;
    font-weight:bold;  
    font-size: 12px;
    text-transform: uppercase;
    color:  rgb(235, 0, 40);
    margin-top: 16px;
    margin-bottom: 20px;

}
.sec2_description{
font-family: "Inter", sans-serif;
font-weight:600;  
font-size: 17px;
margin-top: 8px;
margin-bottom: 8px;

}
.sec2_time{
margin-bottom: 8px;
font-size: 12px;
color: rgb(118, 118, 118);
}
