.section4{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom-style: solid;
    border-bottom-color: rgb(177, 177, 179);
    padding-bottom: 40px;
    border-bottom-width: 1px;

}
.sec4-text{
    display: flex;
    flex-direction: column;
    justify-content:start;
    padding-top: 80px;
    
}
.sec4-text1
{
font-weight:bolder;  
font-size: 28px;
}
.sec4-text2{
    font-size: 16px;
    padding-right: 40px;
}
.sec4-button{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    font-weight: 600;
    border-radius: 4px;
    background-color: none;
    border-style: solid;
}
.sec4-img{
display: flex;
justify-content: right;
}
.sec4-img img{
    width: 763px;
    height: 404px;
}
.section5{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.section5 img{
    width: 728px;
    height: 90px;

}